@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/LayoutApp1.cshtml";
}

<div class="mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                <th>Cedula</th>
                <th>Unidad de Salud</th>
            </tr>
        </thead>
        <tbody class="tcuerpo">
            
        </tbody>
    </table>

</div>

